/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * oceans implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * oceans.css
 *
 * oceans stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (oceans_oceans.tpl), and to HTML elements you create dynamically
    (in oceans.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

:root {
    --ocean-scale: 0.25;
    --reef-width: calc(1752px * var(--ocean-scale));
    --reef-height: calc(1752px * var(--ocean-scale));
    --reef-img: url(./img/reef_board_050.png);
    --ocean-width: calc(2505px * var(--ocean-scale));
    --ocean-height: calc(1785px * var(--ocean-scale));
    --ocean-img: url(./img/ocean_board_050.png);
    --scenario-cards-scale: 0.5;
    --scenario-cards-width: calc(375px * var(--scenario-cards-scale));
    --scenario-cards-height: calc(244px * var(--scenario-cards-scale));
    --scenario-cards-background-size: calc(5626px * var(--scenario-cards-scale));
    --scenario-cards-img: url(./img/scenario_cards_100.png);
    --cards-scale: 0.4;
    --cards-height: calc(525px * var(--cards-scale));
    --cards-width: calc(375px * var(--cards-scale));
    --cards-background-size: calc(5625px * var(--cards-scale));
    --deep-cards-img: url(./img/deep_cards_080.png);
    --surface-cards-img: url(./img/surface_cards_080.png);
}

#main {
    text-align: center;
}

#main > div {
    display: inline-block;
}

#reef {
    background-image: var(--reef-img);
    background-size: 100%;
    width: var(--reef-width);
    height: var(--reef-height);
    margin-bottom: 4.125px;
}

#species_boards {
    background-image: url(./img/speciesboards.png);
    background-size: 100%;
    width: 111px;
    height: 438px;
}

#ocean {
    display: inline-block;
    background-image: var(--ocean-img);
    background-size: 100%;
    width: var(--ocean-width);
    height: var(--ocean-height);
    position: relative;
}

.scenario_cards {
    background-image: var(--scenario-cards-img);
    background-size: var(--scenario-cards-background-size);
    width: var(--scenario-cards-width);
    height: var(--scenario-cards-height);
    border-radius: 10px;
}

#scenario_card_1 {
    left: 11px;
    position: absolute;
    bottom: 10px;
}

#scenario_card_2 {
    left: calc(var(--scenario-cards-width) + calc(11px * 3));
    position: absolute;
    bottom: 10px;
}

#deck {
    text-align: center;
}

#deck > div {
    display: inline-block;
    margin: 10px 30px;
}

.cards {
    display: inline-block;
    height: var(--cards-height);
    width: var(--cards-width);
    background-size: var(--cards-background-size);
    background-repeat: no-repeat;
    border-radius: 10px;
}

.surface_cards {
    background-image: var(--surface-cards-img);
}

#surface_deck > div {
    display: inline-block;
}

#surface_card_back {
    background-position: calc(var(--cards-width) * -12) 0px;
}

.deep_cards {
    background-image: var(--deep-cards-img);
}

#deep_card_back {
    background-position: calc(var(--cards-width) * -14) calc(var(--cards-height) * -5);
}

/* temp */
#deep_card_2 {
    background-position: calc(var(--cards-width) * -1) 0;
}
