/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Gomoku implementation : © Emmanuel Colin <ecolin@boardgamearena.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * gomoku.css
 *
 * Gomoku stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (gomoku_gomoku.tpl), and to HTML elements you create dynamically
    (in gomoku.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


@import url(../../../css/csslayer.css);

/********* You can start writing your CSS below this line: **********/

#gmk_game_area {
	text-align: center;
	position: relative;
}

#gmk_background {
	width: 670px;
	height: 670px;	
	position: relative;
	display: inline-block;
}

#gmk_goban {	
	background-image: url( 'img/goban.jpg');
	width: 670px;
	height: 670px;
	position: absolute;	
}

.clickable {
	cursor: pointer;
}

.gmk_intersection {
	width: 30px;
	height: 30px;
    position: relative;
    background-image: url( 'img/stones.png');
}

.gmk_stone {
	width: 30px;
	height: 30px;
    position: absolute;
    background-image: url( 'img/stones.png');
}

.no_stone {
	background-position:-60px 0px
}

.stone_black {
	background-position:0px 0px
}

.stone_white {
	background-position:-30px 0px
}

.clickable:hover {
	background-position:-90px 0px
}

.gmk_stoneicon {
	width: 14px;
	height: 14px;
	display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url( 'img/stone_icons.png');
    background-position: -28px 0px;
    margin-top: 4px;
    margin-right: 3px;
}

.gmk_stoneicon_000000 {
	background-position:0px 0px
}

.gmk_stoneicon_ffffff {
	background-position:-14px 0px
}

.cp_board {
	clear: both;
}
